[submodule "third-party/Catch2"]
  path = third-party/Catch2
  url = https://github.com/catchorg/Catch2.git
[submodule "third-party/fmt"]
  path = third-party/fmt
  url = https://github.com/fmtlib/fmt
[submodule "third-party/cppcoro"]
  path = third-party/cppcoro
  url = https://github.com/mmore500/cppcoro.git
[submodule "third-party/gcem"]
  path = third-party/gcem
  url = https://github.com/kthohr/gcem.git
[submodule "third-party/ccmath"]
  path = third-party/ccmath
  url = https://github.com/mmore500/ccmath.git
